{
  "parser": "babel-eslint",
  "ecmaFeatures": {
    "globalReturn": true,
    "jsx": false,
    "arrowFunctions": true,
    "blockBindings": true,
    "classes": true,
    "defaultParams": true,
    "destructuring": true,
    "forOf": true,
    "generators": true,
    "modules": true,
    "spread": true,
    "templateStrings": true
  },
  "env": {
    "browser": true,
    "es6": true,
    "node": true,
    "amd": true,
    "mocha": true
  },
  "globals": {
    "document": false,
    "escape": false,
    "navigator": false,
    "unescape": false,
    "window": false,
    "describe": true,
    "before": true,
    "it": true,
    "expect": true
  },
  "plugins": [],
  "rules": {
    "eol-last": 0,
    "no-console": 1,
    "no-unused-expressions": 1,
    "no-unused-vars": 0,
    "strict": 0,
    "new-cap": 0,
    "camelcase": 0,
    "rules": 0,
    "no-multi-spaces": 0,
    "no-shadow": 0,
    "quotes": 0,
    "no-use-before-define": [2, "nofunc"],
    "comma-dangle": 0,
    "key-spacing": 0,
    "no-underscore-dangle": 0,
    "curly": 0,
    "no-extend-native": [2, {"exceptions": ["Array", "String"]}]
  }
}

